body { /* CSS for the background and device changes for the background*/
  background: url('background1.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  font-family: Arial;
  color: white;
  min-height: 100%;
}
ul { /* Unordered list for my navigation*/
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

ul li {
    background-color: white;
    opacity: .8;
    line-height: 40px;
    font-size: 20px;
    display: inline-block;
}

ul li a {
  text-decoration: none;
  color: blue;
  display: block;
}

ul li a:hover {
  background-color: #FA8072;
}

h1 { /*coloring, font size and where it's positioned*/
  color: red;
  font-size: 50px;
  text-align: center;
}
h2 { /* simple centering and text size */
  text-align: center;
  font-size: 40px;
}
h3 { /* underlined text, centering*/
  text-decoration: underline;
  text-align: center;
}
* { /* box for the slideshow */
  box-sizing: border-box;
}

p a { /* links in the paragraph to be red to stand out */
  color: red;
} 
/* when you hover over the paragraph links they turn white */
p a:hover {
  color: white;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 40%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
p { /*all paragraph text, display, postion, color, height and text size*/
  font-color: red;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  bottom: 10px;
}
p a { /* action for links are red inside the paragraph*/
  color: red;
}
p a:hover { /* when hovering over the links in the paragraph changes the color with mouse cursor */
  color: white;
}
.footer_bottom { /* footer positioning, color */
  text-align: center;
  bottom: 10px;
  width: 100%;
}
